<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Go Starter Pack</title>
	<link rel="icon" type="image/x-icon" href="/public/assets/favicon.ico">

	{{ css("app.css") }}

	{% block script %}
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
	{% endblock%}
</head>

<body>
	{% block content %}{% endblock %}
</body>

</html>