<nav class="bg-white border-cyan-200 dark:bg-cyan-700">
	<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
		<a href="/#" class="flex items-center mb-4 sm:mb-0">
			<img src="/public/assets/logo.svg" class="h-12 w-auto mr-3" alt="Softika Logo" />
		</a>
		<button data-collapse-toggle="navbar-default" type="button"
			class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-cyan-500 rounded-lg md:hidden hover:bg-cyan-100 focus:outline-none focus:ring-2 focus:ring-cyan-200 dark:text-cyan-400 dark:hover:bg-cyan-700 dark:focus:ring-cyan-600"
			aria-controls="navbar-default" aria-expanded="false">
			<span class="sr-only">Open main menu</span>
			<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					d="M1 1h15M1 7h15M1 13h15" />
			</svg>
		</button>
		<div class="hidden w-full md:block md:w-auto" id="navbar-default">
			<ul
				class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-cyan-100 rounded-lg bg-cyan-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-cyan-700 md:dark:bg-cyan-700 dark:border-cyan-700">
				<li>
					<a href="/#"
						class="block py-2 pl-3 pr-4 text-white bg-cyan-400 rounded md:bg-transparent md:text-cyan-400 md:p-0 dark:text-white md:dark:text-cyan-400"
						aria-current="page">Home</a>
				</li>
				<li>
					<a href="/bored"
						class="block py-2 pl-3 pr-4 text-cyan-900 rounded hover:bg-cyan-100 md:hover:bg-transparent md:border-0 md:hover:text-cyan-400 md:p-0 dark:text-white md:dark:hover:text-cyan-400 dark:hover:bg-cyan-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
				</li>
				<li>
					<a href="#"
						class="block py-2 pl-3 pr-4 text-cyan-900 rounded hover:bg-cyan-100 md:hover:bg-transparent md:border-0 md:hover:text-cyan-400 md:p-0 dark:text-white md:dark:hover:text-cyan-400 dark:hover:bg-cyan-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
				</li>
				<li>
					<a href="#"
						class="block py-2 pl-3 pr-4 text-cyan-900 rounded hover:bg-cyan-100 md:hover:bg-transparent md:border-0 md:hover:text-cyan-400 md:p-0 dark:text-white md:dark:hover:text-cyan-400 dark:hover:bg-cyan-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
				</li>
				<li>
					<a href="#"
						class="block py-2 pl-3 pr-4 text-cyan-900 rounded hover:bg-cyan-100 md:hover:bg-transparent md:border-0 md:hover:text-cyan-400 md:p-0 dark:text-white md:dark:hover:text-cyan-400 dark:hover:bg-cyan-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>